.NavigationItem {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;

    a{
        color: white;
        text-decoration: none;
        height: 100%;
        padding: 16px 14px;
        border-bottom: 4px solid transparent;
        box-sizing: border-box;
        display: block;

        &:hover, &:active, &.active{
            background-color: #8f5c2c;
            border-bottom: 4px solid #40A4C8;
            color: white;
        }
    }

    @media (max-width: 500px){
        margin: 10px 0 0 0;
        display: block;
        width: 100%;
        height: auto;
        align-items: flex-start;

        a {
            color: #8F5C2C;
            padding: 12px 8px;

            &:hover, &:active{
                background-color: #40A4C8;
                border-bottom: 0 none;
            }
            &.active{
                color: #40A4C8;
                background-color: white;
                border-bottom: 0 none;
            }
        }
    }
}